<% content_for(:title, "Add Listing | JANBnB") %>

<h1>Add a Property Listing: </h1>
<br />
<br />
<%= render 'form' %>

<br>
<br>
<br>
<br>
<%= link_to "Profile", user_path(current_user), class: 'btn btn-warning' %>
