.indent {
  margin-left: 6%;
}

.bio {
  float: left;
}

.avatar {
  float: right;
  margin-right: 30%;
}

.property {
  margin-top: 50px;
}
.host {
  float: right;
  margin-right: 0%;
  margin-top: 0%;
}
.house {
  float: left;
}
ul.unstyled {
  list-style-type: none;
}
